
    <ul class="accordion">
        <li class="section">
            <div class="section-title">
                <h2>Section 1</h2>
            </div>
            <div class="section-content">
                <ul class="sub-accordion">
                    <li class="sub-section">
                        <div class="section-title">
                            <h2>Sub-Section 1.1</h2>
                        </div>
                        <div class="section-content">
                            Sub-section content goes here.
                        </div>
                    </li>
                    <li class="sub-section">
                        <div class="section-title">
                            <h2>Sub-Section 1.2</h2>
                        </div>
                        <div class="section-content">
                            Sub-section content goes here.
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="section">
            <div class="section-title">
                <h2>Section 2</h2>
            </div>
            <div class="section-content">
                Section content goes here.
            </div>
        </li>
       <li class="section">
            <div class="section-title">
                <h2>Section 3</h2>
            </div>
            <div class="section-content">
                <ul class="sub-accordion">
                    <li class="sub-section">
                        <div class="section-title">
                            <h2>Sub-Section 3.1</h2>
                        </div>
                        <div class="section-content">
                            Sub-section content goes here.
                        </div>
                    </li>
                    <li class="sub-section">
                        <div class="section-title">
                            <h2>Sub-Section 3.2</h2>
                        </div>
                        <div class="section-content">
                            Sub-section content goes here.
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <script src="jquery.min.js"></script>
    <script src="script.js"></script>

