
    <ul class="accordion">
            <li class="section">
        <div class="section-title">
            <button class="section-button">Button 1</button>
        </div>
        <div class="section-content">
            <ul class="sub-accordion">
                <li class="sub-section">
                    <div class="section-title">
                        <button class="sub-section-button">Sub-Button 1.1</button>
                    </div>
                    <div class="section-content">
                       
                    </div>
                </li>
                <li class="sub-section">
                    <div class="section-title">
                        <button class="sub-section-button">Sub-Button 1.2</button>
                    </div>
                    <div class="section-content">
                       
                    </div>
                </li>
            </ul>
        </div>
    </li>
         <li class="section">
        <div class="section-title">
            <button class="section-button">Button 2</button>
        </div>
        <div class="section-content">
            <ul class="sub-accordion">
                <li class="sub-section">
                    <div class="section-title">
                        <button class="sub-section-button">Sub-Button 2.1</button>
                    </div>
                    <div class="section-content">
                       
                    </div>
                </li>
                <li class="sub-section">
                    <div class="section-title">
                        <button class="sub-section-button">Sub-Button 2.2</button>
                    </div>
                    <div class="section-content">
                    
                    </div>
                </li>
            </ul>
        </div>
    </li>

 <li class="section">
        <div class="section-title">
            <button class="section-button">Button 3</button>
        </div>
        <div class="section-content">
            <ul class="sub-accordion">
                <li class="sub-section">
                    <div class="section-title">
                        <button class="sub-section-button">Sub-Button 3.1</button>
                    </div>
                    <div class="section-content">
                       
                    </div>
                </li>
                <li class="sub-section">
                    <div class="section-title">
                        <button class="sub-section-button">Sub-Button 3.2</button>
                    </div>
                    <div class="section-content">
                    
                    </div>
                </li>
            </ul>
        </div>
    </li>   
</ul>
    <script src="jquery.min.js"></script>
    <script src="script.js"></script>

